* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
   max-width: 832px;
  padding-block: 64px;
  padding-inline-start: 32px;
  margin-inline: auto;
}

header {
  background-color: hsl(0deg, 0%, 100%);
  border-block-end: 8px solid hsl(0deg, 0%, 60%)
}

.intro-chunk {
  max-width: 416px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.intro-chunk h1 {
  font-size: 2rem;
  font-weight: 800;
}

main {
  background-color: hsl(0deg, 0%, 40%);
}


.card {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: hsl(0deg, 0%, 100%);
  padding-inline: 32px;
  margin-inline-start: -32px;
  border-block-end: 8px solid hsl(0deg, 0%, 60%);
  padding-block-start: 8px;
}

.card > h2 {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  padding-block: 8px;
  padding-inline: 40px;
  margin-inline-start: -40px;
  margin-block-start: 0;
  border-block-end: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
